language: c

before_script:
 - if [ $TRAVIS_OS_NAME = "linux" ] && [ $CFLAGS = "-m32" ]; then sudo apt-get install libc6-dev-i386; fi

script:
 - make run

compiler:
 - clang
 - gcc

os:
 - linux
 - osx

env:
 - CFLAGS=-m32
 - CFLAGS=-m64

